<template>
  <div>
    <h1>TodoList</h1>
    <div>
      <span>Filter by name : </span><input v-model="search">

      <div>
        <input v-model="currentItem.title">
        <select v-model="currentItem.assignee">
          <option v-for="(assignee, index) in assignees"
                  :key="`assignee-${index}`"
                  :value="assignee">{{assignee}}</option>
        </select>
        <input type="number" v-model="currentItem.hours">

        <p v-if="error !== ''" class="error">{{error}}</p>

        <button @click="addTask">Add</button>
      </div>
    </div>

    <TodoItem
        v-for="(item, index) in showedItems"
        :key="`todo-${index}`"
        :value="item"
        @edit="edit(item)"
    />

    <div>
      <button :disabled="deleteButtonDisabled" @click="deleteTodos">Delete selected</button>
    </div>

    <p>There is {{items.length}} todo items</p>
    <p>There is {{selectedItems.length}} selected todo items</p>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ITodoItem from "@/todo-item";
import TodoItem from "@/components/TodoItem.vue";
@Component({
  components: {TodoItem}
})
export default class TodoList extends Vue {
  private currentItem: ITodoItem = {
    title: "",
    hours: NaN,
    assignee: "",
    done: false,
    selected: false
  };
  private error: string = "";

  private items: ITodoItem[] = [];
  private assignees: string[] = ["Florian", "Benoit", "Patoche"];
  private search: string = "";

  get deleteButtonDisabled(): boolean {
    return this.selectedItems.length === 0;
  }

  get selectedItems(): ITodoItem[] {
    return this.items.filter(item => item.selected);
  }

  get showedItems(): ITodoItem[] {
    if (this.search === "") return this.items;
    const regex = new RegExp(this.search, 'i');
    return this.items.filter(item => regex.test(item.title))
  }

  isAFieldEmpty(): boolean {
    return this.currentItem.title === "" || isNaN(this.currentItem.hours) || this.currentItem.assignee === "";
  }

  addTask() {
    if (this.isAFieldEmpty()) {
      this.error = "Veuillez remplir tous les champs et saisir un nombre pour l'heure";
      return;
    }

    this.error = ""
    this.items.push(this.currentItem)
    this.currentItem = {
      title: "",
      hours: NaN,
      assignee: "",
      done: false,
      selected: false
    }
  }

  deleteTodos() {
    this.items = this.items.filter(item => !item.selected)
  }

  edit(item: ITodoItem) {
    this.items = this.items.filter(currentItem => item != currentItem)
    this.currentItem = item;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.error {
  color: red;
}
</style>
