<template>
  <div :class="itemClass">
    <input type="checkbox" v-model="value.selected">
    <h2>{{value.title}}</h2>
    <p>Assignee: {{value.assignee}}</p>
    <p>Estimated time: {{value.hours}}h</p>

    <button v-if="!value.done" @click="edit">Edit</button>
    <button v-if="!value.done" @click="endTask">Done</button>
  </div>
</template>

<script lang="ts">
import {Component, Model, Vue} from 'vue-property-decorator';
import ITodoItem from "@/todo-item";

@Component
export default class TodoItem extends Vue {
  @Model() private value!: ITodoItem;

  get itemClass(): string {
    return 'todo-item' + (this.value.done ? ' done' : '');
  }

  endTask(): void {
    this.value.done = true;
  }

  edit(): void {
    this.$emit('edit');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.todo-item {
  border: black 1px solid;
  margin: 10px auto;
}
.done {
  border: #42b983 1px solid;
}
</style>
